.root {
  display: flex;
  justify-content: space-between;

  max-height: 40px;
  overflow: hidden;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;

  cursor: pointer;
}

.name {
  font-weight: 600;
  font-size: 18px;
}

.weather {
  display: flex;
  align-items: center;

  max-width: 160px;

  color: #bbbbbb;
  text-align: center;
}

.icon {
  width: 40px;
}
