.root {
  position: relative;
  height: 240px;

  padding: 20px;

  border-radius: 8px;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 10px;

  background-color: rgb(255, 251, 236);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;

  cursor: pointer;
}

.top {
  display: flex;
  justify-content: space-between;
}

.name {
  font-weight: 600;
  font-size: 18px;
}

.sun {
  display: flex;
  align-items: center;

  svg {
    margin-right: 10px;
    fill: rgb(235, 107, 16);
  }
}

.chart {
  height: 100px;
}

.bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  height: 42%;
}

.temperature {
  display: flex;
  font-size: 40px;

  .switch {
    display: flex;

    font-size: 24px;

    cursor: pointer;

    color: #bbbbbb;
  }
}

.active {
  color: #333333;
}

.feels,
.sun {
  color: #bbbbbb;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  font-size: 16px;
}

.value {
  color: rgb(235, 158, 16);
  font-weight: 600;
}
