.root {
  position: relative;
  height: 240px;

  padding: 20px;

  border-radius: 8px;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 10px;

  background-color: var(--card-background);

  transition: all 0.1s ease-in;
}

.belowZero {
  background-color: var(--card-background-cold);
}

@media (max-width: 420px) {
  .root {
    margin-bottom: 10px;
  }
}
